// main: ../main.scss
/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  --default-color: var(--contrast-color);
  --default-color-rgb: var(--contrast-color-rgb);
  --background-color: var(--accent-color);
  --heading-color: var(--contrast-color);
  color: var(--default-color);
  background-color: var(--background-color);
  position: relative;

  .heading {
    padding: 80px 0;
    border-top: 1px solid rgba(var(--default-color-rgb), .1);

    h1 {
      font-size: 38px;
      font-weight: 700;
    }
  }

  nav {
    background-color: rgba(var(--default-color-rgb), .099);
    padding: 20px 0;

    a {
      color: var(--default-color);
    }

    ol {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      font-size: 16px;
      font-weight: 600;

      li+li {
        padding-left: 10px;
      }

      li+li::before {
        content: "/";
        display: inline-block;
        padding-right: 10px;
        color: rgba(var(--default-color-rgb), .3);
      }
    }
  }
}