// main: ../main.scss
/*--------------------------------------------------------------
# Why Us Section
--------------------------------------------------------------*/
.why-us {
  .why-box {
    color: var(--contrast-color);
    background: var(--accent-color);
    padding: 30px;

    h3 {
      color: var(--contrast-color);
      font-weight: 700;
      font-size: 34px;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 30px;
    }

    .more-btn {
      display: inline-block;
      background: rgba(var(--contrast-color-rgb), .15);
      padding: 8px 40px 10px 40px;
      color: var(--contrast-color);
      transition: all ease-in-out 0.4s;
      border-radius: 50px;

      i {
        font-size: 14px;
      }

      &:hover {
        color: var(--accent-color);
        background: var(--contrast-color);
      }
    }
  }

  .icon-box {
    text-align: center;
    padding: 40px 30px;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(var(--default-color-rgb), .1);

    i {
      color: var(--accent-color);
      margin-bottom: 30px;
      font-size: 32px;
      margin-bottom: 30px;
      background: rgba(var(--accent-color-rgb), .05);
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 72px;
      transition: 0.3s;
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 30px 0;
    }

    p {
      font-size: 15px;
      color: rgba(var(--default-color-rgb), .7);
    }

    &:hover {
      i {
        color: var(--contrast-color);
        background: var(--accent-color);
      }
    }
  }
}